#define WINE_FILEDESCRIPTION_STR "Wine core dll"
#define WINE_FILENAME_STR "packet.dll"
#define WINE_FILEVERSION 4,1,0,2001
#define WINE_FILEVERSION_STR "4.1.0.2001"
#define WINE_PRODUCTVERSION 4,1,0,2001
#define WINE_PRODUCTVERSION_STR "4.1.0.2001"

#include "wine/wine_common_ver.rc"
